<nav class='nav nav_admin'>
  <h1 class='nav__logo nav__logo_admin'><%= link_to 'TestGuru', root_path %> Admin Panel</h1>
  <% if user_signed_in? %>
    <div class='nav__user'>
      Welcome, <b><%= "#{current_user.first_name} #{current_user.last_name}" %></b>! | 
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Signup', new_user_registration_path %>
    </div>
  <% end %>
</nav>