<% if @test_passage.successful? %>
  <h1 class='heading heading_success'>The <%= @test_passage.test.title %> Test was Successfuly Completed</h1>
<% else %>
  <h1 class='heading heading_wrong'>The <%= @test_passage.test.title %> Test wasn't Completed</h1>
<% end %>
<p>
  Correct: <%= @test_passage.correct_questions %> from <%= @test_passage.test.questions.count %> | <%= @test_passage.complete_percentage %>%
</p>

<%= link_to 'Tests', tests_path %>