<h2>Test title: <%= @test.title %></h2>
<% if @test.category %>
  <p>Category: <%= @test.category.title%></p>
<% end %>
<p>Level: <%= @test.level %></p>

<table>
  <tr>  
    <th>Question</th>
    <th colspan='3'>Actions</th>
  </tr>
  <%= render @test.questions %>
</table>

<%= link_to 'Edit test', edit_admin_test_path(@test) %>
<%= link_to 'Create question', new_admin_test_question_path(@test.id) %>
<%= link_to 'Back', admin_tests_path %>
